<tr class="<%= cycle('', 'bg-gray-100') -%>">
  <td class="border-b px-4 py-2">
    <%= other_log.duration %>
  </td>
  <td class="border-b px-4 py-2">
    <%= other_log.explain.present? ? other_log.explain.documents_returned : 'n/a' %>
  </td>
  <td class="border-b px-4 py-2">
    <%= other_log.explain.present? ? other_log.explain.documents_examined : 'n/a' %>
  </td>
  <td class="border-b px-4 py-2">
    <%= other_log.created_at.to_s(:db) %>
  </td>
</tr>
