<div class="px-4 py-2 border-b border-gray-200 sm:px-6">
  <h1 class="text-2xl leading-6 font-medium text-gray-900">
    Controller #<%= @controller.id%> (sessions: <%= @sessions %>)
  </h1>
  <p class="mt-1 max-w-2xl text-base leading-5 text-gray-600">
    <%= @controller.controller%>#<%= @controller.action%>
    <p class="text-gray-600 mt-2 mb-1">
      <% @ops_stats.each do |op, count| %>
        <span  class="border border-gray-400 rounded bg-gray-200 px-2 py-1 text-sm mr-2">
          <%= op %>
          <span class="text-gray-500">|</span>
          <%= count %>
        </span>
      <% end %>
      <span class="border border-red-700 rounded bg-red-600 px-2 py-1 text-white font-semibold text-sm mr-2">
        COLLSCAN
        <span class="text-white">|</span>
        <%= @collscans %>
      </span>
    </p>
  </p>
</div>
<div>
  <dl>
    <% @stats.keys.each_slice(2) do |ks| %>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6 border-solid border-b-2 border-gray-100">
      <% ks.each do |collection| %>
          <dt class="text-sm leading-5 font-medium text-gray-800">
            <%= collection %>
          </dt>
          <dd class="mt-1 text-base leading-5 text-gray-700 sm:mt-0">
              <% @stats[collection].map do |l| %>
                <span class="bg-<%= l.logs_count >= 10 ? 'red' : 'gray' %>-200 text-<%= l.logs_count >= 10 ? 'red' : 'gray' %>-700 rounded px-3 py-1 mr-1 block mb-2">
                  <%= l.operation %> <span class="text-<%= l.logs_count >= 10 ? 'red' : 'gray' %>-300 font-sm">|</span> <%= l.logs_count %>
                </span>
              <% end %>
          </dd>
      <% end %>
        </div>
    <% end %>
  </dl>
</div>

<table class="text-left text-sm w-full border-collapse">
  <thead class="bg-gray-300">
    <tr>
      <th class="px-4 py-2">Collection</th>
      <th class="px-4 py-2">Operation</th>
      <th class="px-4 py-2">Command</th>
      <th class="px-4 py-2">Duration</th>
    </tr>
  </thead>
  <tbody class="align-baseline">
    <%= render partial: "log", collection: @logs, locals: { full: false } %>
  </tbody>
</table>
