<div class="px-4 py-2 border-b border-gray-200 sm:px-6">
  <h1 class="text-2xl leading-6 font-medium text-gray-900">
    Logs
  </h1>
  <p class="mt-1 text-sm leading-5 text-gray-700 pt-3 mb-2">
    <% @logs_counts.each do |op, count| %>
      <a href="javascript:void(0)" onclick="operationHandler('<%= op %>')" class="border border-gray-400 rounded bg-gray-200 px-2 py-1 text-sm mr-2">
        <%= op %>
        <span class="text-gray-500">|</span>
        <%= count %>
      </a>
    <% end %>
    <% if @collscans.positive? %>
      <a href="javascript:void(0)" onclick="collscanHandler()" class="border border-red-700 rounded bg-red-600 px-2 py-1 text-white font-semibold text-sm mr-2">
        COLLSCAN
        <span class="text-white">|</span>
        <%= @collscans %>
      </a>
    <% end %>
    <a href="/awesome_explain/logs" onclick="collscanHandler()" class="border border-gray-400 rounded bg-gray-200 px-2 py-1 text-sm mr-2">
      EVERYTHING
    </a>
  </p>
  <%= select_tag "logs_collections", options_from_collection_for_select(@collections, 'id', 'name', @current_collection), onchange: 'collection_select_changed()' %>
</div>
<table class="text-left w-full text-sm border-collapse">
  <thead class="bg-gray-300">
    <tr>
      <th class="px-4 py-2">Collection</th>
      <th class="px-4 py-2">Operation</th>
      <th class="px-4 py-2">Command</th>
      <th class="px-4 py-2">Duration</th>
      <th class="px-4 py-2 items-end">&nbsp;</th>
    </tr>
  </thead>
  <tbody class="align-baseline">
    <%= render partial: "log", collection: @logs, locals: { full: true } %>
  </tbody>
</table>
<%= paginate @logs %>
