<h1 class="text-2xl pl-6 text-gray-700">
  Stacktraces
  <span class="text-pink-600 text-sm"><%= @stacktraces_count %></span>
</h1>
<hr class="mt-2 border-b-1 border-gray-200" />

<div class="text-left text-sm w-full border-collapse">
  <% @stacktraces.each do |stacktrace| %>
    <div class="mt-2 mb-4 mx-4">
      <div class="flex justify-between">
        <div class="text-gray-700 text-center py-2">
          <span class="text-sm font-medium bg-gray-500 py-1 px-2 rounded text-white align-middle mb-3 inline-block"><%= "count: #{stacktrace.log_count}" %></span>
          <span class="text-sm font-medium bg-blue-500 py-1 px-2 rounded text-white align-middle mb-3 inline-block"><%= "min_duration: #{stacktrace.min_duration}" %></span>
          <span class="text-sm font-medium bg-purple-500 py-1 px-2 rounded text-white align-middle mb-3 inline-block"><%= "max_duration: #{stacktrace.max_duration}" %></span>
        </div>

        <%# <div class="text-gray-700 text-center py-2">
          <button class="float-right bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">
            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M.2 10a11 11 0 0 1 19.6 0A11 11 0 0 1 .2 10zm9.8 4a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"/></svg>
            <span>View</span>
          </button>
        </div> %>
      </div>
      <%= raw("<pre><code class=\"language-ruby\">#{JSON.pretty_generate(JSON.parse(stacktrace.stacktrace.to_s))}</code></pre>") %>
    </div>
  <% end %>
  <%= paginate @stacktraces %>
</div>
