<!DOCTYPE html>
<html>
<head>
  <title>Awesome explain</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "awesome_explain/application", media: "all" %>
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans&display=swap" rel="stylesheet">
  <%= javascript_include_tag "awesome_explain/application" %>
</head>
<body>
<div class="container my-0 mx-auto p-0 bg-white border border-gray-400 border-t-0 mb-10 pb-5">
<%= render "common/top_nav" %>
<div class="flex-1 flex justify-between sm:hidden">
  <a href="#" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
    Previous
  </a>
  <a href="#" class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
    Next
  </a>
</div>
<div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between p-4">
</div>
<div><%= yield %></div>
</div>
</body>
</html>
