<div
  id="sidebar"
  class="fixed inset-0 pt-16 h-full z-90 w-full border-b -mb-16 lg:-mb-0 lg:static lg:h-auto lg:overflow-y-visible lg:border-b-0 lg:pt-0 lg:w-1/4 lg:block lg:border-0 xl:w-1/5 hidden">
  <div
    id="navWrapper"
    class="h-full overflow-y-auto scrolling-touch lg:h-auto lg:block lg:relative lg:sticky lg:top-16 lg:bg-transparent">
    <div id="navGradient" class="hidden"></div>
    <nav
      id="nav"
      class="px-6 pt-6 overflow-y-auto text-base lg:text-sm lg:py-12 lg:pl-6 lg:pr-8 sticky?lg:h-(screen-16)">
      <div class="mb-8">
        <h5 class="mb-3 lg:mb-2 text-gray-500 uppercase tracking-wide font-bold text-sm lg:text-xs">
          Awesome Explain
        </h5>
        <ul>
          <li class="mb-3 lg:mb-1">
            <a
              class="px-2 -mx-2 py-1 transition duration-200 ease-in-out relative block hover:translate-x-2px hover:text-gray-900 text-gray-600 font-medium"
              href="/awesome_explain">
              <span class="rounded absolute inset-0 bg-gray-<%= current_page?(action: 'index') ? '400' : '200' %> opacity-<%= current_page?(action: 'index') ? '25' : '0' %>"></span>
              <span class="relative">Dashboard</span>
            </a>
          </li>
          <li class="mb-3 lg:mb-1">
            <a
              class="px-2 -mx-2 py-1 transition duration-200 ease-in-out relative block text-gray-600 font-medium"
              href="/awesome_explain/logs">
              <span class="rounded absolute inset-0 bg-gray-<%= current_page?(action: 'logs') ? '400' : '200' %> opacity-<%= current_page?(action: 'logs') ? '25' : '0' %>"></span>
              <span class="relative">Logs</span>
            </a>
          </li>
          <li class="mb-3 lg:mb-1">
            <a
              class="px-2 -mx-2 py-1 transition duration-200 ease-in-out relative block text-gray-600 font-medium"
              href="/awesome_explain/controllers">
              <span class="rounded absolute inset-0 bg-gray-<%= current_page?(action: 'controllers') ? '400' : '200' %> opacity-<%= current_page?(action: 'controllers') ? '25' : '0' %>"></span>
              <span class="relative">Controllers</span>
            </a>
          </li>
          <li class="mb-3 lg:mb-1">
            <a
              class="px-2 -mx-2 py-1 transition duration-200 ease-in-out relative block hover:translate-x-2px hover:text-gray-900 text-gray-600 font-medium"
              href="/awesome_explain/stacktraces">
              <span class="rounded absolute inset-0 bg-gray-<%= current_page?(action: 'stacktraces') ? '400' : '200' %> opacity-<%= current_page?(action: 'stacktraces') ? '25' : '0' %>"></span>
              <span class="relative">Stacktraces</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
